#cimsor {
    align-self: center;
    text-align: center;

}

body {
    background-image: linear-gradient(to right, white, gray);
    
}

h2 {
    font-variant: small-caps;
    border-radius: 0px 25px;
    border-left: 2px solid #7F7F7F;
    border-bottom: 2px solid #7F7F7F;
    border-top: 0px solid #7F7F7F;
    border-right: 0px solid #7F7F7F;
    padding: 10px;
    width:500px;

}

#profilkep {
    float: left;
    margin: 1px;
    border: 20px, solid, black;

}

.eniac {
    float:right;
    margin: 1px;
    border: 20px, solid, black;

}