#cimsor {
    align-self: center;

}

body {
    background-image: linear-gradient(to right, white, gray);
    padding: 10 px;

}

h2 {
    font-variant: small-caps;
    border-radius: 0px 25px;
    border-left: 2px solid #7F7F7F;
    border-bottom: 2px solid #7F7F7F;
    border-top: 0px solid #7F7F7F;
    border-right: 0px solid #7F7F7F;
    padding: 10px;
    width:500px;
    }